{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for info in accounts %}
                    <tr>
                        <td>{{ info.name }}</td>
                        <td>{{ info.number }}</td>
                        <td>{{ info.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
